@font-face {
  font-family: "iconfont"; /* Project id 2506918 */
  src: url('iconfont.woff2?t=1658198540885') format('woff2'),
       url('iconfont.woff?t=1658198540885') format('woff'),
       url('iconfont.ttf?t=1658198540885') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rays-actions:before {
  content: "\e990";
}

.rays-playlist:before {
  content: "\e996";
}

.rays-playrandom:before {
  content: "\e9a0";
}

.rays-playorder:before {
  content: "\e9a1";
}

.rays-playsingle:before {
  content: "\e9a2";
}

.rays-playloop:before {
  content: "\e9a3";
}

.rays-mute:before {
  content: "\e9eb";
}

.rays-switch:before {
  content: "\e901";
}

.rays-play:before {
  content: "\e904";
}

.rays-pause:before {
  content: "\e905";
}

.rays-list:before {
  content: "\e923";
}

.rays-yinliangzengjia:before {
  content: "\e637";
}

.rays-next-line:before {
  content: "\e93e";
}

.rays-prev-line:before {
  content: "\e940";
}

.rays-songlist:before {
  content: "\e938";
}

.rays-prev-face:before {
  content: "\e98e";
}

.rays-next-face:before {
  content: "\e98f";
}

.rays-volume-add:before {
  content: "\e9e5";
}

.rays-function:before {
  content: "\e9e9";
}

.rays-volume-reduce:before {
  content: "\e9ea";
}

.rays-mysql:before {
  content: "\e967";
}

.rays-javascript:before {
  content: "\e999";
}

.rays-vuejs:before {
  content: "\e9ee";
}

.rays-link:before {
  content: "\e974";
}

.rays-picture:before {
  content: "\e9c6";
}

.rays-favicon-star-line:before {
  content: "\e93d";
}

.rays-favicon-heart-face:before {
  content: "\e9e7";
}

.rays-favicon-star-face:before {
  content: "\e922";
}

.rays-favicon-heart-line:before {
  content: "\e96e";
}

.rays-favicon-tag:before {
  content: "\e903";
}

.rays-subject:before {
  content: "\e900";
}

.rays-favicon-star-smile:before {
  content: "\e963";
}

