.custom-block
  position: relative;
  margin-top: .5rem;
  margin-bottom: .5rem;
  word-break: break-all;
  padding-left: 3rem;
  padding-right: 1rem;

  .title
    font-weight 600
    margin-bottom -0.4rem
    line-height: 1.5;
  &.tip, &.warning, &.danger, &.info
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
  &.tip, &.info
    background-color rgba(97, 106, 229, 0.1)
    border-color rgb(97 106 229 / 1)
    .title
      color rgb(97 106 229 / 1)
    .svgIcon
      color: rgb(97 106 229 / 1)
  &.warning
    background-color rgba(251, 155, 95, 0.1)
    border-color rgb(251 155 95 / 1)
    .title
      color rgb(251 155 95 / 1)
    .svgIcon
      color: rgb(251 155 95 / 1)
  &.danger
    background-color rgba(242, 109, 109, 0.1)
    border-color rgb(242 109 109 / 1)
    .title
      color rgb(242 109 109 / 1)
    .svgIcon
      color: rgb(242 109 109 / 1)
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right
  &.theorem
    margin 1rem 0
    padding .1rem 1.5rem
    border-radius 0.4rem
    background-color var(--code-color)
    .title
      font-weight bold
  &.details
    display block
    position relative
    border-radius 2px
    margin 1em 0
    padding 1rem
    background-color var(--code-color)
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer

  .svgIcon
    position: absolute;
    top: .7rem;
    left: 1rem;
    width: 1.75rem;
    font-weight: 700;

.abstract-content-wrap
  .custom-block
    .svgIcon
      top: .5rem !important