// @font-face {
//     font-family: 'Shan Hai';
//     src: url('/fonts/shanhai.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// 全屏模式下，搜索框提示样式

.pagefull input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
}

// code-copy 样式
.extra-class
  line-height: 1.2;
.code-copy-added
  .code-copy
    position: absolute;
    top: 1rem;
    right: 0rem;
    svg
      opacity: 0.75;
    span
      right: 0.5rem;
      top: 1rem;
// add by Ryahine
.content__default
  ol, ul
    li
      a
        position: relative;
        &:after
          content: "";
          display: block;
          width: 0;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -2px;
          background: #67cc86;
          transition: all 0.3s ease-in-out;
        &:hover:after
          width: 100%

.content__default
  p, span
    a
      position: relative;
      &:after
        content: "";
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -2px;
        background: #67cc86;
        transition: all 0.3s ease-in-out;
      &:hover:after
        width: 100%
      .header-anchor 
        float: none;

.page 
  .theme-reco-content 
    h3, h4
      &:hover
        .header-anchor
          opacity: 1


.home-blog > .hero > .mask {
  background-position: bottom !important;
}

// .footer-wrapper.footer > span:first-child {
// display: none;
// }

.locked {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #f0f4f8;

  .title {
    font-weight: bold;
  }
}

.home-blog .home-blog-wrapper .info-wrapper{
  margin-top: 0 !important;
}

// 侧边栏样式
// 左侧侧边栏标题
.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.5em !important;
  margin-left: -1em;
}
// 右侧文章标题导航栏
a.sidebar-link {
  font-size: 14px !important;
}
.sub-sidebar-wrapper {
  width: 18rem !important;
}
// 左侧边栏标题字体大小样式
.sidebar-heading span{
    font-size: 1.2em;
    font-weight: bold;

}
.sidebar-heading.open span{
    font-weight: bold;
}


// tip,warning,danger容器样式
.custom-block.tip {
    border: 2px solid rgba(55, 95, 201, .9) !important
    background-color: rgba(255, 255, 255, 0) !important
    &:hover {
      box-shadow: 5px 5px 13px rgba(55, 95, 201, .34)
    }
      
}
.custom-block.warning {
    border: 2px solid rgba(235, 112, 46, 0.9) !important
    background-color: rgba(255, 255, 255, 0) !important
    &:hover {
      box-shadow: 5px 5px 13px rgba(235, 112, 46, 0.34) !important
    }
}
.custom-block.danger {
    border: 2px solid rgba(158, 12, 12, 0.9) !important
    background-color: rgba(255, 255, 255, 0) !important
    &:hover {
      box-shadow: 5px 5px 13px rgba(158, 12, 12, .34) !important
    }
}

//自定
.home-blog-wrapper {
  opacity: 0.85 !important;
}

body {
    background-color: #F8F8FF;
}

.fullPic .iconfont {
  color: #fff !important;
}
.fullPic .iconfont .leancloud-visitors-count{
  color: #fff !important;
}

.fullPic .title {
  color: #fff !important;
}

.fullPic .reprintUrl {
  color: #fff !important;
  &:hover {
    color $accentColor !important;
  }  
}

.fullPic .copyright  {
  color: #fff !important;
  span, div {
    color: #fff !important;
  }
}

.abstract-content-wrap {
  .abstract {
    h2 {
      font-size: 1rem !important;
      border-top: none;
      display: flex
      &:before {
        height: 1.2rem !important;
        border-top: none;
        position: inline-block;
        left: 0;
        top: 3.5rem;
        display: block;
        height: 1.8rem;
        content: '';
        border-left: 5px solid #67cc86;
      }
    }
    a {
      position: relative;
      margin-left: -0.4em;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -2px;
        background: #67cc86;
        transition: all 0.3s ease-in-out;
      } 
      &:hover:after {
        width: 100%
      }
    }
    p {
      font-size: 0.8rem !important;
      a {
        position: relative;
        margin-left: 0;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -2px;
          background: #67cc86;
          transition: all 0.3s ease-in-out;
        } 
        &:hover:after {
          width: 100%
        }
      }
      
    }
  }
  .tags {
    .tag-item {
      font-size: 0.8rem;
    }
  }
  
}
.abstract {
    h2 {
      font-size: 1rem !important;
      border-top: none;
      &:before {
        height: 1.2rem !important;
        border-top: none;
      }
    }
    p {
      font-size: 0.8rem !important;
    }
  }

.global-ui
  .back-to-ceiling
    border-radius: 25rem !important
    right: 2rem !important
    bottom: 3rem !important
::-webkit-scrollbar {
	width: 0 !important
}
::-webkit-scrollbar {
	width: 0 !important
	height: 0
}

/*body{
  background-image: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=904598672,2322087439&fm=26&gp=0.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}*/


// checkbox markdown-it-task-list add by Rayshine
input[type=checkbox] {
    cursor: pointer;
    position: relative;
}

input[type=checkbox]::after {
    position: absolute;
    top: 0;
    background-color: #fff;
    color: #fff;
    width: 14px;
    height: 14px;
    display: inline-block;
    visibility: visible;
    padding-left: 0px;
    text-align: center;
    content: ' ';
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

input[type=checkbox]:checked::after {
    content: "";
    background-color: $accentColor;
    border-color: $accentColor;
    background-color: $accentColor;
}

input[type=checkbox]:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 1;
}


.contains-task-list {
  list-style: none;
  margin-left: -1.3rem;
}



// docsearch add by Rayshine
.search-box {
  .DocSearch-Button  {
  border: 1px solid var(--text-color) !important
    .DocSearch-Button-Keys {
      display: flex;
      align-items: flex-end;
      .DocSearch-Button-Key {
        box-shadow: var(--box-shadow)
      }
    }
    .DocSearch-Button-Container {
      display: flex;
      align-items: center;
    }
    &:active, &:hover, &:focus {
      background: none !important
      box-shadow: none !important
      border: 1px solid $accentColor !important
      color: var(--docsearch-muted-color) !important

    }
  }
}

.pagefull {
  .DocSearch-Button  {
  border: 1px solid rgba(255, 255, 255, 0.9) !important
    .DocSearch-Button-Keys {
      display: flex;
      align-items: flex-end;
      .DocSearch-Button-Key {
        color: rgba(126, 121, 121, .8)
        box-shadow: var(--box-shadow)
        background: linear-gradient(-225deg,rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.1))
      }
    }
    .DocSearch-Button-Container {
      display: flex;
      align-items: center;
      .DocSearch-Search-Icon {
        color: rgba(255, 255, 255, 0.9)
      }
      .DocSearch-Button-Placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
    }
    &:active, &:hover, &:focus {
      background: none !important
      box-shadow: none !important
      border: 1px solid $accentColor !important
      color: #fff !important

    }
  }
}



.DocSearch-Modal {
  .DocSearch-SearchBar {
    .DocSearch-Form {
      padding: 0 var(--docsearch-spacing)
      .DocSearch-MagnifierLabel {
        color: var(--text-color-sub)
      }
      .DocSearch-Input {
        color: var(--text-color)
      }
    }
  }
  .DocSearch-Dropdown {
    .DocSearch-Dropdown-Container {
      .DocSearch-Hit-source {
        background: none
      }
      .DocSearch-Hit {
        .DocSearch-Hit-title {
          mark {
            color: #67cc86
          }
        }
      }
    }
  }
  .DocSearch-Footer {
    .DocSearch-Commands-Key {
      // box-shadow: var(--box-shadow)
    }
  }
}
