audio {
  width: 25%;
  height: 2rem;
  opacity .5
  margin: 0 3rem;
  // margin-top 1rem
  // background-color var(--nav-background-color)
  border-color none
  color var(--text-color)
}

audio::-webkit-media-controls {
    width: inherit;
    height: inherit;
    position: relative;
    display: -webkit-flex;
    // background-color var(--nav-background-color)
    -webkit-align-items: flex-start;
    -webkit-justify-content: flex-end;
    -webkit-flex-direction: column;
}

audio::-webkit-media-controls-mute-button {
    // display: none;
}

audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 100%;
  // background-color: var(--nav-background-color);
  backdrop-filter: blur(10rem);
}

/* Removes the timeline */
audio::-webkit-media-controls-timeline {
  // display: none !important;
}
// audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
//     -webkit-appearance: media-slider;
//     display: -webkit-flex;
//     -webkit-flex: 1 1;
//     background-color: initial;
//     border: initial;
//     color: inherit;
//     margin: initial;
//     min-width: 0;
// }

/* Removes the time stamp */
audio::-webkit-media-controls-current-time-display {
  // display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  // display: none;
}
audio::-webkit-media-controls-play-button {
  display: none;
}
audio::-webkit-media-controls-overlay-play-button {
  display: none;
}
audio::-webkit-media-controls-timeline-container {
  display: none;
}
//  歌单列表滚动条
// .immerse-musicList-wapper::-webkit-scrollbar {
//   width: .3rem !important;
// }
.immerse-musicList-wapper::-webkit-scrollbar-thumb {
  border-radius 10rem
  background-color var(--border-color)
}

// ::-webkit-scrollbar{}/*整体设置*/

// ::-webkit-scrollbar-button ：滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。

// ::-webkit-scrollbar-track ：外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。

// ::-webkit-scrollbar-track-piece ：内层轨道，具体区别看下面gif图，需要注意的就是它会覆盖第三个属性的样式。

// ::-webkit-scrollbar-thumb ：滚动条里面可以拖动的那部分

// ::-webkit-scrollbar-corner ：边角，两个滚动条交汇处

// ::-webkit-resizer ：两个滚动条交汇处用于拖动调整元素大小的小控件（基本用不上）

.pagefull {
  .actions {
    color $pagefullNavColor
    .title {
      .loading span {
        background: $pagefullNavColor !important;
      }
    }
    // i {
    //   color rgba(50, 65, 100, .5) !important
    // }
  }
  .immerse-wapper {
    // color rgba(50, 65, 100, 1)
    // .iconfont {
    //   color rgba(50, 65, 100, .5) !important
    // }
    i {
      color var(--text-color) !important
    }
    .listBtn {
      // color rgba(50, 65, 100, 1) !important
      // border 2px solid rgba(50, 65, 100, 1) !important
    }
    // .music-info {
    //   border-top: 1px solid rgba(255, 255, 255, .3) !important;
    // }
    hr {
      border-top: 1px solid rgba(255, 255, 255, .3) !important;
    }
    input {
      border: .1rem solid var(--text-color) !important;
    }
    input::-webkit-input-placeholder {
      color: var(--text-color-sub);
    }
    .searchBox {
      i {
        color var(--text-color-sub) !important
      }
    }
  }
  .immerse-footer {
    i {
      color var(--text-color-sub) !important
    }
  }
  
  
  
}
.fixed {
  position fixed
  top -3.7rem !important
  z-index 20
  padding: 0.7rem 1.5rem
  color var(--text-color)
  transition transform 0.2s ease-in-out, top 0.2s ease-in-out
}
.visible {
  // transition all 0.5s
  // transform translate3d(0, 100%, 0)
  top -0.1rem !important
  transition transform 0.2s ease-in-out, top 0.5s ease-in-out
}

// 沉浸模式 ********* start *********
.immerse-wapper-open {
  webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.immerse-wapper{
  z-index 501
  width: 100%;
  height: 100%;
  position: fixed;
  // top: 0;
  left: 0;
  bottom: 100%
  // -webkit-backdrop-filter: blur(5rem);
  // backdrop-filter: blur(5rem);
  // overflow-y: hidden;
  background-color var(--background-color)
  opacity .97
  overflow hidden;
  will-change: transform;
  transition: transform .3s ease-in-out
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  .immerse-action {  // 操作栏
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .immerse-title {
      font-weight 600
    }
    .immerse-close {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 10rem;
      color: var(--text-color);
      text-align: center;
      background-color: var(--background-color);
      position: fixed;
      right: 0.5rem;
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
      box-shadow: 0 1px 8px 1px var(--text-color)
      cursor pointer
    }
    .immerse-close::before {
      content: "\2716"
    }
  }
  .immerse-main {  // 沉浸主体
    height: calc(95% - 4rem);
    width: 100%;
    display: flex;
    .immerse-avtar {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .immerse-cover {
      width: 50%;
      text-align: center;
      .immerse-title {
        height 10%;
        font-size 2rem
        display: grid;
        justify-content: center;
      }
      .immerse-lrc {
        scroll-behavior:smooth;
        // display grid;
        padding: 0;
        height: 85%;
        overflow hidden;
        overflow-y auto;
        .lrc {
          transition .3s 
          padding .2rem
          font-family cursive
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &:first-child .lrc {
          margin-top: 10rem
        }
        // &:last-child .lrc {
        //   margin-bottom: 10rem
        // }
      }
      .active {
        font-size: 1.2rem;
        font-weight: 600;
        transform: scale(1.3)
        text-shadow: 0px 0px 1.1rem
      }
    }
  }
  .immerse-musicList {
    width: 25%;
    .refreshBtn 
    .locationBtn {
      display: flex; 
      align-items: center;
      padding: 0 .5rem;
      text-shadow: 0 0 25px var(--text-color-sub);
      &:hover .iconfont{
        color $accentColor !important
      } 
      .iconfont {
        color var(--text-color)
        font-size 1.5rem 
      }
    }
    .searchBox {
      display inline-block
      position relative
      margin-right 1rem
      .iconfont {
        font-size: 1rem;
        position absolute
        top .4rem
        z-index 0
        left 0.35rem
        margin auto
      }
      input {
        appearance: none;
        text-align: center;
        cursor text
        width 0rem
        height: 1.5rem
        color var(--text-color) !important
        display inline-block
        border .1rem solid var(--text-color)
        border-radius 25rem
        font-size 0.9rem
        font-weight 600
        line-height 2rem
        padding 0 0.5rem 0 1rem
        outline none
        transition all .2s ease
        background transparent
        background-size 1rem
        &:focus {
          width 60% !important
          cursor auto
          border-color $accentColor !important
        }
      }
      &:hover input {
        width: 60% !important
      }
      .focused {
        cursor auto
        border-color $accentColor !important
      }
    }

    .catgBtns {
      display flex
      .listBtn {
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        margin-left -.1rem
        color: var(--text-color);
        border: 2px solid var(--text-color-sub);
        box-shadow var(--box-shadow);
        &:hover {
          color $accentColor !important;
          border-color: $accentColor !important;
        }
      }
      .listBtn_1 {
        border-radius: 3.5rem 0 0 3.5rem;
      }
      .listBtn_2 {
        border-radius: 0 3.5rem 3.5rem 0;
      }
      .selected {
        border-color $selectedColor !important
        color $selectedColor !important
      }
    }

    .immerse-musicList-wapper {
      // max-height: 100%;
      width: 23%;
      height: calc(95% - 6.8rem);
      overflow: hidden;
      box-sizing border-box;
      overflow-y auto
      position fixed
      padding 0rem 0
      text-align left
      white-space nowrap
      margin 0
      will-change: scroll-position
      .searchTip {
        height: 2rem;
        text-align: center;
        font-size: 1rem;
        color: var(--text-color-sub);
      }
      .music-dropdown-item {
        color inherit
        line-height 1.7rem
        padding: .2rem
        height: 3.6rem;
        .music-info {
          display flex
          justify-content: space-between;
          border-top: 1px solid var(--border-color);
          padding 0.2rem 1rem 0 1rem;
          &:hover .title-name{
            color $accentColor;
          }
          .detail {
            display grid
            margin-left: 0.5rem;
            .title-name {
              font-size: .8rem;
              font-weight 600;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: keep-all;
              display: inline-flex;
              &:hover {
                overflow: visible;
                animation: 3s siderbar linear infinite normal;
              }
            }
            .current-music {
              color red
            }
            .title-name-sub {
              display: flex
              font-size: .5rem;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: keep-all;
              display: inline-flex;
              &:hover {
                overflow: visible;
                animation: 3s siderbar linear infinite normal;
              }
              .iconfont {
                font-size: 2rem;
              }
            }
          }
        }
        &:first-child .music-info {
          padding 0.45rem 1rem 0 1rem;
          border-top 0 !important
        }
      }
    }
  }
  .scrollbarActive {
    ::-webkit-scrollbar {
      width 0.3rem !important
    }
  }
  .scrollbarDisplay {
    ::-webkit-scrollbar {
      width 0rem !important
    }
  }
  .immerse-footer {
    text-align: center;
    font-size 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height 4rem
    border-top var(--border-top)
    -webkit-box-shadow: 0 5px 6px 5px rgba(133, 133, 133, 60%)
    background-color var(--background-color)
    .action-bar {
      display flex
      align-items: center;
      justify-content: center;
      .user-info {
        display: flex
        align-items: center;
        position: fixed;
        left: 1rem;
        .avater-img {
          height: 2.6rem;
          cursor: pointer;
          border-radius: 20%;
          min-width: 2.6rem;
        }
        .user-detail {
          display: flex;
          margin: 0 0.5rem
          flex-direction: column;
          .user-name {
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            .logout {
              &:hover {
                color: $accentColor !important
              }  
            }
          }
          .login {
            &:hover {
              color: $accentColor !important
            }  
          }
          .level {
            display: flex;
            padding: 0.1rem 0;
            .vip-img {
              height: 1.3rem;
              margin-right: 0.3rem;
              min-width: 2.6rem;
            }
          }
          
        }
      }
      .iconfont {
        text-shadow: 0 0 30px var(--text-color-sub);
        font-size 2rem;
        margin .6rem;
        &:hover {
          color $accentColor !important
        }
      }
    }
    
  }
}
.nav-music {
  z-index 21
  position fixed
  top -0.1rem
  right 45rem 
  padding-right 1.5rem
  box-sizing border-box
  white-space nowrap
  // position absolute
  right $navbar-horizontal-padding
  top $navbar-vertical-padding
  display flex
  // background-color var(--background-color)
  // margin-top -0.3rem
  margin-right 1.5rem
  padding 0.1rem 0.5rem 0.1rem 0.5rem
  font-size 1.1rem
  user-select none
  image.png
  .avatar {
    height $navbarHeight - 1rem
    min-width $navbarHeight - 1rem
    margin-top 0.5rem
    margin-right 0.3rem
    vertical-align top
    border-radius 50%
    box-shadow 0 1px 8px 1px var(--text-color)
    cursor: pointer
  }
  .dropdown-wrapper{
    &:hover .music-dropdown {
      // override the inline style.
      display block !important
    }
  }
  .img-box {
    display: flex;
    // align-items: center;
    cursor pointer
    &:hover .point_box {
      display block !important
    }
    .time {
      position: fixed;
      margin-left: 0.2rem;
    }

  }
  .point_box {
    display none
    height $navbarHeight - 1rem
    min-width $navbarHeight - 1rem
    margin-top 0.5rem
    margin-right -($navbarHeight - 1rem)
    vertical-align top
    border-radius 50%
    box-shadow 0 1px 8px 1px var(--text-color)
    cursor: pointer
    backdrop-filter: blur(.1rem);
    z-index: 1;
    .point_1:after {
      content: "";
      position: absolute;
      display: block;
      top: .5rem;
      left: 1rem;
      margin-bottom 1rem
      width: .5rem;
      height: .5rem;
      border: 0.15rem solid rgb(247 247 247 / 0.90);
      border-left: none;
      border-top: none;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation: arrowMove 1.2s infinite;
      animation: arrowMove 1.2s infinite;
      z-index 1
    }
    .point_2:after {
      content: "";
      position: absolute;
      display: block;
      top: .9rem;
      left: 1rem;
      width: .5rem;
      height: .5rem;
      border: 0.15rem solid rgb(247 247 247 / 0.90);
      border-left: none;
      border-top: none;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-animation: arrowMove 1.2s infinite;
      animation: arrowMove 1.2s infinite;
      z-index 1
    }
    @-webkit-keyframes arrowMove {
      from {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      to {
        -webkit-transform: rotate(45deg) translateY(.2rem) translateX(.2rem);
        transform: rotate(45deg) translateY(.2rem) translateX(.2rem);
        opacity: 0;
      }
    }
    @keyframes arrowMove {
      from {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      to {
        -webkit-transform: rotate(45deg) translateY(.2rem) translateX(.2rem);
        transform: rotate(45deg) translateY(.2rem) translateX(.2rem);
        opacity: 0;
      }
    }
  }

  .music-dropdown {
    display none
    // Avoid height shaked by clicking
    width: 100%;
    max-height 20rem !important
    box-sizing border-box;
    max-height calc(100vh - 2.7rem)
    overflow-y auto
    position absolute
    top 100%
    right 0
    background-color var(--background-color)
    padding 0rem 0
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    text-align left
    border-radius $borderRadius
    white-space nowrap
    margin 0
    overflow: scroll-y;
    margin-top:-.5rem;
    overflow-x: hidden;
    &:hover {
      display block !important
    }
    .music-dropdown-item {
      color inherit
      line-height 1.7rem
      padding: .2rem
      height: 3.6rem;
      .music-info {
        display flex
        justify-content: space-between;
        border-top: 1px solid var(--border-color);
        padding 0.2rem 1rem 0 1rem;
        &:hover .title-name{
          color $accentColor;
        }
        .detail {
          display grid
          margin-left: 0.5rem;
          .title-name {
            font-size: .8rem;
            font-weight 600;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
            display: inline-flex;
            &:hover {
              overflow: visible;
              animation: 3s siderbar linear infinite normal;
            }
          }
          .current-music {
            color red
          }
          .title-name-sub {
            display: flex
            font-size: .5rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
            display: inline-flex;
            &:hover {
              overflow: visible;
              animation: 3s siderbar linear infinite normal;
            }
            .iconfont {
              font-size: 2rem
            }
          }
        }
      }
      &:first-child .music-info {
        padding 0.45rem 1rem 0 1rem;
        border-top 0
      }
    }

  }
  .actions{
    .title {
      display: flex;
      margin: 0.5rem 0;
      font-size: .8rem;
      font-weight: 600;
      padding-left: 0.3rem;
      .time {
        width: 2.5rem
        display: inline-block
      }
      // 加载动画
      .loading{
        // margin-right: .5rem;
        width: 2.5rem;
        height: auto;
        display: flex;
        align-items: center;
        // margin: 0 auto;
        // margin-top:100px;
      }
      .loading span{
        display: inline-block;
        width: .2rem;
        height: .2rem;
        margin-right: .1rem;
        border-radius: 50%;
        background: var(--text-color);
        -webkit-animation: load 1.04s ease infinite;
      }
      .loading span:last-child{
        margin-right: 0;
      }
      @-webkit-keyframes load{
        0%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      }
      .loading span:nth-child(1){
        -webkit-animation-delay:0.13s;
      }
      .loading span:nth-child(2){
        -webkit-animation-delay:0.26s;
      }
      .loading span:nth-child(3){
        -webkit-animation-delay:0.39s;
      }
      .loading span:nth-child(4){
        -webkit-animation-delay:0.52s;
      }
      .loading span:nth-child(5){
        -webkit-animation-delay:0.65s;
      }


      .title-name {
        width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;
        display: inline-flex;
        &:hover {
          overflow: visible;
          animation: 3s siderbar linear infinite normal;
        }
      }
      .current-music {
        color red
      }
    }
    .action-bar {
      margin: -0.3rem 0 0 0;
      display flex
      .volume{
        font-family: fantasy;
      }
      .iconfont {
        font-size 1.3rem
        margin 0 .2rem
        transition: all .3s ease-in-sine
        &:hover {
          color $accentColor
        }  
      }
      .playlist {
        &:hover .music-dropdown {
          // override the inline style.
          display block !important
        }
      }
    }
  }
  .refreshing {
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
  }
  .playing {
    -webkit-transform: rotate(360deg);
    animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -webkit-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
  }
  @--webkit-keyframes rotation {
    0% {
      -webkit-transform:rotate(0deg);
    }
    50% {
      -webkit-transform:rotate(180deg);
    }
    100% {
      -webkit-transform:rotate(360deg);
    }
  }
  @keyframes rotation {
    0% {
      -webkit-transform:rotate(0deg);
    }
    50% {
      -webkit-transform:rotate(180deg);
    }
    100% {
      -webkit-transform:rotate(360deg);
    }
  }
  .heart-hot {
    display: flex;
    width: 3rem;
    min-width 2rem
    padding: 0.5rem .5rem;
    transform rotate(180deg)
  }
  .heart-hot span {
    width: 100%;
    margin 0 .1rem;
    height: 2rem;
    border-radius .1rem
    animation-duration: 2s; // 一个完整动画的持续时间
    animation-iteration-count: infinite; // 动画循环次数：无限循环
    animation-name: heart-bounce; // 调用的动画名，对应上面的 .heart-bounce
  }
  .heart-hot span:nth-child(1) {
    animation-delay .2s
    margin-left 0
  }
  .heart-hot span:nth-child(2) {
    animation-delay .4s
  }
  .heart-hot span:nth-child(3) {
    animation-delay .6s
  }
  .heart-hot span:nth-child(4) {
    animation-delay .8s
  }
  .heart-hot span:nth-child(5) {
    animation-delay 1s
    margin-right 0
  }
  @keyframes heart-bounce {
    0%, 100% {height: 0.4rem; background: #ffd166}
    25% {height: 1.8rem; background: #06d6a0}
    50% {height: 1rem; background: #118ab2}
    75% {height: 1.8rem; background: #ef476f}
  }
}
